*{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        padding: 0;
.App {
        display: flex;
        flex-direction: column;
        padding: 1em;
        padding-bottom: 0.5em;                  
        width: 30em;
        align-items: flex-start;
        margin: 1em auto;
ul {
        list-style-type: none;
li {
        margin: 0.5em;
}
}
.add {
        cursor: pointer;
        margin: 1em auto;
        height: 5em;
        width: 5em;
        border-radius: 50%; 
        box-shadow: 0 0 10px rgba(0,0,0,0.9);
        }
.add:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 0.5s;                
        }
input {
        margin: 2.5px;
        height: 2em;
        border-radius: 4px;
        border: 1px solid black;
        width: 26.4em;
        padding: 0.2em;
        font-size: 1.1em;
        margin-bottom: 0.8em;
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
input:hover{
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        transition: 0.5s;
}
}
.completed {
        text-decoration: overline;
        }
}
.todo {
        background-color: white;
        width: 28em;
        height: auto;
        display: flex;
        flex-direction: row;
        margin: 8px;
        border: 1px solid black;
        border-radius: 6px;
        list-style: none;
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
        padding: 0.5em;
div {
        margin-left: 0.5em;
        cursor: pointer;
        display: block;
        max-width: 21em;
        height: auto;
        word-wrap: break-word;
        font-size: 1.2em;
}
.delete {
        height: 2em;
        width: 2em;
        transition: 0.2s;
        cursor: pointer;
}
.delete {
        width: 2em;
        height: 2em;
        opacity: 0.3;
}
.delete:hover {
        opacity: 1;
        color:red;
}
.delete:before, .delete:after {
        position: absolute;
        content: ' ';
        height: 2em;
        width: 2px;
        background-color:red;
}
.delete:before {
        transform: rotate(45deg);
        }
.delete:after {
        transform: rotate(-45deg);
}
}
.todo:hover{
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        transition: 0.5s;
}
.row {
        display: flex;
        flex-direction: row;
}        
@media screen and (max-width: 426px){
*{
        background-color: red;
}
}
