* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

* .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  padding-bottom: 0.5em;
  width: 50em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1em auto;
}

* .App ul {
  margin: 0 auto;
  list-style-type: none;
}

* .App ul li {
  width: 35em;
  margin: 0.9em;
}

* .App input {
  margin: 1em auto !important;
  display: block !important;
  float: none !important;
  height: 2em;
  border-radius: 4px;
  border: 1px solid black;
  width: 40em;
  padding: 0.2em;
  font-size: 1.1em;
}

* .App input:hover {
  border: 1px solid blue;
}

* .filter {
  cursor: pointer;
  display: inline-block;
  padding: 0.7em 1.4em;
  min-width: 8em;
  margin: 0.5em;
  border-radius: 0.15em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #00ff37;
  -webkit-box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
          box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

* .filter:active {
  top: 0.1em;
}

@media all and (max-width: 30em) {
  * .filter {
    display: block;
    margin: 0.4em auto;
  }
}

* .add {
  cursor: pointer;
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 auto;
  border-radius: 0.15em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #3369ff;
  -webkit-box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
          box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

* .add:active {
  top: 0.1em;
}

@media all and (max-width: 30em) {
  * .add {
    display: block;
    margin: 0.4em auto;
  }
}

* .completed {
  text-decoration: overline;
}

.todo {
  width: 30em;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 8px;
  border: 1px solid black;
  border-radius: 6px;
  list-style: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0.5em;
}

.todo .checkbox {
  width: 2.3em;
  height: 2.3em;
  margin: 0 !important;
}

.todo div {
  line-height: 2em;
  margin-left: 0.5em;
  cursor: pointer;
  display: block;
  max-width: 23.4em;
  min-height: 2em;
  word-wrap: break-word;
  font-size: 1.2em;
}

.todo .delete {
  margin-right: 1em;
  height: 2.65em;
  cursor: pointer;
  display: inline-block;
  padding: 0.7em 1.4em;
  border-radius: 0.15em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #db0000;
  -webkit-box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
          box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.todo .delete:active {
  top: 0.1em;
}

@media all and (max-width: 30em) {
  .todo .delete {
    display: block;
    margin-left: 1em !important;
  }
}

.todo:hover {
  border: 1px solid blue;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

@media screen and (max-width: 426px) {
  .App {
    width: 28em;
  }
  .App input {
    width: 95%;
  }
  .App .todo {
    margin: 1em  auto;
    width: 25em;
  }
  .App .todo .checkbox {
    width: 2.38em;
    height: 2.38em;
    margin: 0 !important;
  }
  .App div {
    max-width: 11em;
  }
}
/*# sourceMappingURL=style.css.map */