*{
  margin: 0;
  padding: 0;
}
.App {
  width: 20em;
  padding: 1em;
  border: 1px solid black;
  align-items: flex-start;
  margin: 1em auto;
}
ul {
  list-style-type: none;
}
li {
  margin: 0.5em;
  cursor: pointer;
}
button {
  padding: 0.3em;
  margin: 0.3em;
}
input {
  width: 14em;
  padding: 0.2em;
  font-size: 1.1em;
}
.completed {
  text-decoration: overline;
}